rosetta-tools/src/test/resources/model-import/any/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/person"
           xmlns="http://example.com/person"
           elementFormDefault="qualified">

    <xs:complexType name="Person">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:any processContents="lax" namespace="##any"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Person1" type="Person"/>

</xs:schema>
