rosetta-tools/src/test/resources/model-import/fiml/fiml-bond-5-4.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bnpparibas.com/2012/FiML-5" xmlns:fpml="http://www.fpml.org/FpML-5/recordkeeping" xmlns:fiml="http://www.bnpparibas.com/2012/FiML-5" targetNamespace="http://www.bnpparibas.com/2012/FiML-5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Revision: 1641 $" fiml:tag="5-4-9">
	<xsd:import namespace="http://www.fpml.org/FpML-5/recordkeeping" schemaLocation="fiml-fpml-5-4.xsd"/>
	<xsd:include schemaLocation="fiml-core-5-4.xsd"/>
	<xsd:include schemaLocation="fiml-enum-5-4.xsd"/>
	<xsd:include schemaLocation="fiml-shared-5-4.xsd"/>
	<!--
================
    complexTypes    
================
-->
	<!-- FpML 4-2 BondContract: from proposal on Non-Derivative Products, Andrew Parry JPMC 2005-10-10 -->
	<!-- AP 2005.10.05 non derivative product proposal -->
	<xsd:complexType name="Bond">
		<xsd:annotation>
			<xsd:documentation>Extended Bond definition: a debt security.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="fpml:Bond">
				<xsd:group ref="BondReferenceData.model"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BondCallPutOption">
		<xsd:annotation>
			<xsd:documentation>Embedded call/put option on a debt security/money market instrument (bond reference data).</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="earliestExerciseDate" type="xsd:date">
					<xsd:annotation>
						<xsd:documentation>First exercise (call/put) date</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="noticePeriod" type="fpml:Offset" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Exercise notice period.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:element name="noticePeriod" type="fpml:Offset">
				<xsd:annotation>
					<xsd:documentation>Exercise notice period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="BondContract">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Type derived from FpML Product, describing a cash Bond transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="fpml:Product">
				<xsd:sequence>
					<xsd:group ref="fpml:BuyerSellerStrict.model" minOccurs="0"/>
					<xsd:group ref="BondContract.model">
						<xsd:annotation>
							<xsd:documentation>A group which has bond trade elements.
			</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
					<xsd:element ref="fpml:bond"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BondMarketOperation">
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="bondMarketOperationScheme" type="xsd:anyURI" default="http://www.bnpparibas.com/fixed-income/bond/market-operation"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--
================
    elements    
================
-->
	<xsd:element name="bond" type="Bond" substitutionGroup="fpml:bond">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Global element representing a Bond instrument.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="bondContract" type="BondContract" substitutionGroup="fpml:product">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Global element representing a transaction in a Bond instrument.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--
================
    groups    
================
-->
	<xsd:group name="BondContract.LATAM.model">
		<xsd:sequence>
			<xsd:element name="auctionType" type="AuctionTypeEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If present indicates the trade resulted from an auction and specifies the type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:sequence minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Boolean flags are optional for backward compatibility. Applications which are aware of these properties should produce the flags, whether true or false.</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="dayTrade" type="CanonicalBoolean">
					<xsd:annotation>
						<xsd:documentation>When true, indicates that the underlying bond is bought and sold on the same day</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:sequence minOccurs="0">
					<xsd:element name="rediscount" type="CanonicalBoolean">
						<xsd:annotation>
							<xsd:documentation>When true, indicates that the bond is purchased using rediscount (Central Bank Repo)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="intermediation" type="CanonicalBoolean" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>When true, indicates that an "intermediation" account is to be used for clearing through SELIC.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:group>
	<!-- AP 2005.10.05 non derivative product proposal -->
	<!-- XMLF-13 Added quantity|nominalAmount model, auctionType, dayTrade  HMcA 2009-03-10 -->
	<xsd:group name="BondContract.model">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A group which has bond trade elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="BondNominal.model"/>
			<xsd:group ref="BondPriceAndYield.model">
				<xsd:annotation>
					<xsd:documentation>
A group which has bond price elements.
			</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="tradedFlatOfAccrued" type="CanonicalBoolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Traded Flat of Accrued Interest.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tradePriceBasis" type="BondTradePriceBasisEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Traded on Price/Yield basis: properly a schema extension to BondContract.model. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="BondValuationAmount.model" minOccurs="0"/>
			<xsd:group ref="BondContractAdditionalPayment.model" minOccurs="0"/>
			<xsd:group ref="Settlement.model" minOccurs="0"/>
			<xsd:element name="settlementTransfer" type="SettlementTransferSimple" minOccurs="0"/>
			<xsd:group ref="BondContractExtended.model">
				<xsd:annotation>
					<xsd:documentation>Extended bond contract features</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="BondContract.SWX.model">
		<xsd:sequence>
			<xsd:element name="marketType" type="BondMarketTypeEnum">
				<xsd:annotation>
					<xsd:documentation>Bond market type {Primary, Secondary},  produced for Swiss trades only.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="marketOperation" type="BondMarketOperation" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Market operation type, produced for Swiss trades only. This drives specific wording on Swiss trade confirmations. May be a code value e.g. GB = Grey Market Buy. Dependent on (preceding element) marketType. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="settlementInstructionOverride" type="CanonicalBoolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Produced for Swiss trades only. Where true, this flag indicates that settlement instructions are provided by an external source (SWX), in which case auto-generation of settlement instructions is suppressed and settlement processing is managed manually in the settlement system (Calypso).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="BondContractAdditionalPayment.model">
		<xsd:sequence>
			<xsd:element name="additionalPayment" type="fpml:Payment" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Additonal payment(s) associated with the transaction e.g. commission, stamp duty, exchange transaction fees.

            The payment may be classified by means of the optional paymentType element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="BondContractExtended.model">
		<xsd:sequence>
			<xsd:group ref="BondContract.SWX.model" minOccurs="0"/>
			<xsd:group ref="BondContract.LATAM.model" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Extended bond contract features to support LATAM requirments</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="BondReferenceData.model">
		<xsd:sequence>
			<xsd:element name="instrumentType" type="BondInstrumentTypeEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Instrument type (Debt, Equity, MoneyMarket)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:sequence>
				<xsd:annotation>
					<xsd:documentation>These elements must both exist in order to support the MMSR/SMMD regulatory reporting requirement as an alternative to ISIN.</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="securityClass" type="SecurityClass" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Class of the security (ISO 10962 CFI code for regulatory reporting).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="issuerSector" type="InstitutionalSector" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Institutional sector of the security issuer party/entity (ESA 2010 institutional sector code).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:element name="issueDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Issue date of the security.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="priceBasis" type="BondStaticPriceBasisEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Price quotation basis of the security.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditRating" type="CreditRating" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Credit rating(s) of the security issue.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:sequence minOccurs="0">
				<xsd:element name="whenIssued" type="CanonicalBoolean"/>
				<xsd:element name="isCallable" type="CanonicalBoolean"/>
				<xsd:element name="isRedeemable" type="CanonicalBoolean"/>
			</xsd:sequence>
			<xsd:element name="floatingRate" type="fpml:FloatingRateSimple" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Floating rate index and spread for a (vanilla) floating rate security.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="callOption" type="BondCallPutOption" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Embedded call option.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="putOption" type="BondCallPutOption" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Embedded put option.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!--  /FpML 4-2 BondContract (proposed)-->
</xsd:schema>
