rosetta-tools/src/test/resources/model-import/fiml/fiml-com-5-4.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bnpparibas.com/2012/FiML-5" xmlns:fpml="http://www.fpml.org/FpML-5/recordkeeping" xmlns:fiml="http://www.bnpparibas.com/2012/FiML-5" targetNamespace="http://www.bnpparibas.com/2012/FiML-5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Revision$" fiml:tag="5-4-9">
	<xsd:import namespace="http://www.fpml.org/FpML-5/recordkeeping" schemaLocation="fiml-fpml-5-4.xsd"/>
	<xsd:include schemaLocation="fiml-shared-5-4.xsd"/>
	<!--
================
    complexTypes    
================
-->
	<xsd:complexType name="Commodity">
		<xsd:complexContent>
			<xsd:extension base="fpml:IdentifiedAsset">
				<xsd:group ref="CommodityProduct.model"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommodityFloatingPriceLeg">
		<xsd:annotation>
			<xsd:documentation>FiML FloatingPriceLeg definition, compatible with CommoditySwapLeg</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="fpml:FinancialSwapLeg">
				<xsd:sequence>
					<xsd:group ref="fpml:CommodityCalculationPeriods.model"/>
					<xsd:element name="commodity" type="Commodity">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the underlying instrument. Only underlyers of type Commodity are supported.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="fpml:CommodityNotionalQuantity.model"/>
					<xsd:group ref="fpml:CommodityFloatingLegCalculation.model"/>
					<xsd:group ref="fpml:CommodityPaymentDates.model"/>
					<xsd:group ref="fpml:CommodityFreightFlatRate.model" minOccurs="0"/>
					<xsd:element name="schedule" type="CommodityScheduleFloating" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommodityForward">
		<xsd:annotation>
			<xsd:documentation>Extend FpML product type with addition of optional floating payment/fixing schedule.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="fpml:CommodityForward">
				<xsd:sequence>
					<xsd:element name="additionalPayment" type="fpml:Payment" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Additional payments between the principal parties e.g. upfront fee, periodic premium.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="schedule" type="CommodityScheduleFloating" minOccurs="0" maxOccurs="2">
						<xsd:annotation>
							<xsd:documentation>Commodity floating payment/fixing schedule.
In the case where multiple schedules exist (up to two), each schedule should reference the commodity swap leg to which it relates by means of the legReference element.

* A single schedule without legReference is construed as applying to the parent commoditySwap as a whole.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommodityOption">
		<xsd:annotation>
			<xsd:documentation>Extend FpML product type with addition of optional floating payment/fixing schedule.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="fpml:CommodityOption">
				<xsd:sequence>
					<xsd:element name="schedule" type="CommodityScheduleFloating" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Commodity floating payment/ fixing schedule.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommodityPeriod">
		<xsd:annotation>
			<xsd:documentation>Commodity payment/fixing period</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="startDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Adjusted period start date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Adjusted period end date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommodityPriceSpread">
		<xsd:sequence>
			<xsd:element name="component" type="CommodityPriceSpreadComponent" minOccurs="2" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Commodity price spread components (2x)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommodityPriceSpreadComponent">
		<xsd:sequence>
			<xsd:element name="commodity" type="Commodity">
				<xsd:annotation>
					<xsd:documentation>Reference commodity</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="multiplier" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Multiplier applied to the reference commodity price participating in the spread calculation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommodityPriceSpreadLeg">
		<xsd:complexContent>
			<xsd:extension base="fpml:FinancialSwapLeg">
				<xsd:sequence>
					<xsd:group ref="fpml:CommodityCalculationPeriods.model"/>
					<xsd:element name="spread" type="CommodityPriceSpread">
						<xsd:annotation>
							<xsd:documentation>Commodity price spread</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="fpml:CommodityNotionalQuantity.model"/>
					<xsd:group ref="fpml:CommodityFloatingLegCalculation.model"/>
					<xsd:group ref="fpml:CommodityPaymentDates.model"/>
					<xsd:group ref="fpml:CommodityFreightFlatRate.model" minOccurs="0"/>
					<xsd:element name="schedule" type="CommodityScheduleFloating" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommodityScheduleBase" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Schedule of commodity floating payment/fixing periods (one-to-many)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="legReference" type="CommoditySwapLegReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to the commodity swap leg to which this schedule relates.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quantityUnit" type="fpml:QuantityUnit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Notional Quantity unit in which the Schedule is denominated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommodityScheduleFloating">
		<xsd:annotation>
			<xsd:documentation>Schedule of commodity floating payment/fixing periods (one-to-many)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CommodityScheduleBase">
				<xsd:sequence>
					<xsd:element name="period" type="CommoditySchedulePeriodFloating" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Commodity floating payment/ fixing period.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommoditySchedulePeriodBase" abstract="true">
		<xsd:sequence>
			<xsd:element name="calculationPeriod" type="CommodityPeriod">
				<xsd:annotation>
					<xsd:documentation>Period for which the payment is generated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quantity" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Amount of commodity per schedule period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element name="totalQuantity" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation>Total Notional Quantity per Calculation Period.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="notionalQuantityReference" type="Reference">
					<xsd:annotation>
						<xsd:documentation>Reference to a Commodity Notional Quantity specified elsewhere in the document.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="paymentDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Adjusted payment date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommoditySchedulePeriodFloating">
		<xsd:complexContent>
			<xsd:extension base="CommoditySchedulePeriodBase">
				<xsd:sequence>
					<xsd:element name="fixingPeriod" type="CommodityPeriod">
						<xsd:annotation>
							<xsd:documentation>Period over which the underyling price or rate is observed.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="spread" type="xsd:decimal" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Spread (margin) applied to the observed price or rate.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommoditySwap">
		<xsd:annotation>
			<xsd:documentation>Extend FpML product type with addition of optional floating payment/fixing schedule.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="fpml:CommoditySwap">
				<xsd:sequence>
					<xsd:element name="additionalPayment" type="fpml:Payment" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Additional payments between the principal parties e.g. upfront fee, periodic premium.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="schedule" type="CommodityScheduleFloating" minOccurs="0" maxOccurs="2">
						<xsd:annotation>
							<xsd:documentation>Commodity floating payment/fixing schedule.
In the case where multiple schedules exist (up to two), each schedule should reference the commodity swap leg to which it relates by means of the legReference element.

* A single schedule without legReference is construed as applying to the parent commoditySwap as a whole.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommoditySwaptionUnderlying">
		<xsd:annotation>
			<xsd:documentation>Extend FpML commodity swaption underlyer type (economic content of commodity swap product) with addition of optional floating payment/fixing schedule.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="fpml:CommoditySwaptionUnderlying">
				<xsd:sequence>
					<xsd:element name="additionalPayment" type="fpml:Payment" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Additional payments between the principal parties e.g. upfront fee, periodic premium.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="schedule" type="CommodityScheduleFloating" minOccurs="0" maxOccurs="2">
						<xsd:annotation>
							<xsd:documentation>Commodity floating payment/fixing schedule.
In the case where multiple schedules exist (up to two), each schedule should reference the commodity swap leg to which it relates by means of the legReference element.

* A single schedule without legReference is construed as applying to the parent commoditySwap as a whole.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommoditySwapLegReference">
		<xsd:annotation>
			<xsd:documentation>Reference to a commodity swap leg located elsewhere in the document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Reference"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
================
    elements    
================
-->
	<xsd:element name="commoditySpreadLeg" type="CommodityPriceSpreadLeg" substitutionGroup="fpml:commoditySwapLeg">
		<xsd:annotation>
			<xsd:documentation>FiML Commodity price spread leg.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="commodityForward" type="CommodityForward" substitutionGroup="fpml:product">
		<xsd:annotation>
			<xsd:documentation>Extended commodityForward</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="commodityOption" type="CommodityOption" substitutionGroup="fpml:product">
		<xsd:annotation>
			<xsd:documentation>Extended commodityOption</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="commoditySwap" type="CommoditySwap" substitutionGroup="fpml:product">
		<xsd:annotation>
			<xsd:documentation>Extended commoditySwap</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="floatingLeg" type="CommodityFloatingPriceLeg" substitutionGroup="fpml:commoditySwapLeg">
		<xsd:annotation>
			<xsd:documentation>FiML Commodity floatingLeg, interchangeble with FpML floatingLeg</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--
================
    groups    
================
-->
	<xsd:group name="CommodityProduct.model">
		<xsd:sequence>
			<xsd:group ref="fpml:CommodityReferencePriceFramework.model" minOccurs="0"/>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="specifiedPrice" type="fpml:SpecifiedPriceEnum">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The 'specified Price' describes the nature of the underlying price that is observed. It must be be stated in the underlyer definition as it is not defined in the Commodity Reference Price. Example values of 'specifiedPrice' are 'Settlement' (for a futures contract) and 'WeightedAverage' (for some published prices and indices).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="specifiedPriceDescription" type="xsd:normalizedString" minOccurs="0"/>
				</xsd:sequence>
				<xsd:element name="specifiedPriceDescription" type="xsd:normalizedString"/>
			</xsd:choice>
			<xsd:group ref="fpml:CommodityProductDelivery.model"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
