rosetta-tools/src/test/resources/model-import/union-simpletype/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="FooBar">
        <xsd:union memberTypes="Foo Bar"/>
    </xsd:simpleType>

    <xsd:simpleType name="Foo">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
            <xsd:pattern value="([A-Z]{2})"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Bar">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="6"/>
            <xsd:pattern value="([A-Z]{2}-[A-Z0-9]{1,3})"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>