rune-tools/src/test/resources/model-import/data/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2024 REGnosys
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="Max500Text">
       <xs:annotation>
           <xs:documentation source="Name" xml:lang="EN">Max500Text</xs:documentation>
           <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 500 characters.</xs:documentation>
       </xs:annotation>
       <xs:restriction base="xs:string">
           <xs:minLength value="1"/>
           <xs:maxLength value="500"/>
       </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Max3Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number (max 999) of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Bar">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BarName</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Bar definition.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BarStrAttr" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BarStrAttr</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bar string attribute definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Foo">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FooName</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Foo definition.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FooBooleanAttr" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FooBooleanAttrName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FooBooleanAttr definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FooStrAttr" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FooStrAttrName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FooStrAttr definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FooDecimalAttr" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FooDecimalAttrName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FooDecimalAttr definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FooDateAttr" type="xs:date">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FooDateAttrName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FooDateAttr definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FooStringWithRestrictionAttr" type="Max500Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FooStringWithRestrictionAttrName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FooStringWithRestrictionAttr definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FooDecimalWithRestrictionAttr" type="Max3Number" minOccurs="0">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FooDecimalWithRestrictionAttrName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FooDecimalWithRestrictionAttr definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FooBarAttr" type="Bar">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FooBarAttrName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FooBarAttr definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FooStrListAttr" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FooStrListAttrName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FooStrListAttr definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FooBarListAttr" type="Bar" minOccurs="1" maxOccurs="2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FooBarListAttrName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FooBarListAttr definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
