rosetta-tools/src/test/resources/model-import/inline-nested-group/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<sd:schema xmlns:sd="http://www.w3.org/2001/XMLSchema">
    <sd:complexType name="Foo">
        <sd:sequence>
            <sd:element name="Attr1">
                <sd:complexType>
                    <sd:group ref="FooGroup"/>
                </sd:complexType>
            </sd:element>
        </sd:sequence>
    </sd:complexType>

    <sd:group name="FooGroup">
        <sd:sequence>
            <sd:element name="Bar" type="sd:string"/>
            <sd:element name="Baz" type="sd:int"/>
        </sd:sequence>
    </sd:group>
</sd:schema>