rosetta-tools/src/test/resources/model-import/inline-sequence/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="Foo">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Docs.</xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="Attr1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Doc attr1.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FooAttr" type="Bar" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

    </xsd:complexType>

    <xsd:complexType name="Bar">
        <xsd:sequence>
            <xsd:element name="Attr2" type="xsd:string" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>