rune-tools/src/test/resources/model-import/substitution/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2024 REGnosys
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.test.com/test" targetNamespace="http://www.test.com/test">
	<!-- XML root element -->
	<xs:element name="document" type="Document" />
	<xs:complexType name="Document">
	  <xs:sequence>
	    <xs:element ref="animal"/> <!-- Note that the name of this element is determined by the actual type of animal -->
	  </xs:sequence>
	</xs:complexType>
	
	<!-- Element names: `Cow`s should be serialised as an element named `cow`, `Goat`s should be serialised as an element named `goat`. -->
	<xs:element name="animal" type="AnimalBase" abstract="true" />
	<xs:element name="cow" type="Cow" substitutionGroup="animal" />
	<xs:element name="goat" type="Goat" substitutionGroup="animal" />
	<!-- Element names: `Shark`s should be serialised as an element named `shark`, `Salmon`s should be serialised as an element named `salmon`. -->
	<!-- The `fish` substitution group transitively substitutes to the `animal` substitution group	-->
	<xs:element name="fish" type="Fish" abstract="true" substitutionGroup="animal"/>
	<xs:element name="shark" type="Shark" substitutionGroup="fish"/>
	<xs:element name="salmon" type="Salmon" substitutionGroup="fish"/>

	<!-- Types: `Cow` and `Goat` extend from `Animal` -->
	<xs:complexType name="AnimalBase">
	  <xs:attribute name="name" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="Cow">
	  <xs:complexContent>
	    <xs:extension base="AnimalBase" />
	  </xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Goat">
	  <xs:complexContent>
	    <xs:extension base="AnimalBase" />
	  </xs:complexContent>
	</xs:complexType>
	<!-- Types: `Shark` and `Salmon` extend from `Fish`-->
	<xs:complexType name="Fish">
		<xs:complexContent>
			<xs:extension base="AnimalBase"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Shark">
		<xs:complexContent>
			<xs:extension base="Fish"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Salmon">
		<xs:complexContent>
			<xs:extension base="Fish"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
